@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  font-weight: 400;
  src: url("../fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

.content {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hidden {
  overflow: hidden;
}

.img-header {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 1;
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: 400;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  color: #fe8a02;
}

h3 {
  font-size: 34px;
  font-weight: 400;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", sans-serif;
}

.txt-64px {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}

.txt-52px {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
}

.txt-34px {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
}

.txt-24px {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.txt-18px {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.txt-14px {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.txt-12px {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}

.lh-1 {
  line-height: 1;
}

.td-none {
  text-decoration: none;
}

.tdl-underline {
  text-decoration-line: underline;
}

.ta-center {
  text-align: center;
}

.va-middle {
  vertical-align: middle;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.f-1 {
  flex: 1;
}

.rg-20px {
  row-gap: 20px;
}

.cg-30px {
  column-gap: 30px;
}

.flex-column-16px {
  display: flex;
  flex-flow: column wrap;
  row-gap: 16px;
}

.flex-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

.mt-100px {
  margin-top: 100px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-20px {
  margin-bottom: 20px;
}

.pt-60px {
  padding-top: 60px;
}

.pt-100px {
  padding-top: 100px;
}

.pr-55px {
  padding-right: 55px;
}

.pb-9px {
  padding-bottom: 9px;
}

.pb-30px {
  padding-bottom: 30px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pb-100px {
  padding-bottom: 100px;
}

.pb-185px {
  padding-bottom: 185px;
}

.pt-pb-pl-55px {
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 55px;
}

.pl-10px {
  padding-left: 10px;
}

.white {
  color: #fff;
}

.light {
  color: #f5f4f0;
}

.basic {
  color: #fe8a02;
}

.basic-dark {
  color: #42413c;
}

.translucent-white {
  color: #d7ccc0;
}

.translucent-dark {
  color: #908d8b;
}

.brown {
  color: #b09a81;
}

.blue {
  color: #1085c5;
}

.dark {
  color: #2a2626;
}

.bg-white {
  background: #fff;
}

.bg-light {
  background: #f5f4f0;
}

.bg-brown {
  background: #b09a81;
}

.bg-basic-dark {
  background: #42413c;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.png");
  opacity: 0.1;
  z-index: 0;
}

#ikea-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.png");
  opacity: 0.1;
  z-index: 0;
}

#premature-optimization::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.png");
  opacity: 0.1;
  z-index: 0;
}

#distortion-of-novelty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.png");
  opacity: 0.1;
  z-index: 0;
}

#hyperbolic-depreciation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.png");
  opacity: 0.1;
  z-index: 0;
}

#errors-in-planning::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.png");
  opacity: 0.1;
  z-index: 0;
}

.btn {
  padding: 12px 24px;
}

.btn-basic {
  box-sizing: border-box;
  width: 148px;
  height: 49px;
  border: none;
  background-color: #fe8a02;
}

.btn-font-style {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.video {
  position: relative;
  margin-bottom: -186px;
}

[data-card="card-dark"] {
  box-sizing: border-box;
  width: 350px;
  padding: 0;
  background: #42413c;
}

[data-card="card"] {
  box-sizing: border-box;
  width: 350px;
  padding: 24px;
  background: #f5f4f0;
}

[data-card="card-number"] {
  padding-bottom: 40px;
  color: #42413c;
}

[data-card="card-title"] {
  color: #fe8a02;
}

[data-card="card-description"] {
  margin-bottom: 0;
  color: #2a2626;
}

[data-card="card"]:hover {
  background: #fe8a02;
}

[data-card="card"]:hover [data-card^="card"] {
  color: #fff;
}

.form-input {
  height: 50px;
  width: 84%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #E3E3E3;
}

.form-btn {
  width: 70px;
  height: 50px;
  border: none;
  background-color: #fe8a02;
}

.form-btn::before {
  content: url("/src/images/send.svg");
  position: absolute;
  top: 10px;
  left: 21px;
}
