.btn {
  padding: 12px 24px;
}

.btn-basic {
  box-sizing: border-box;
  width: 148px;
  height: 49px;
  border: none;
  background-color: $basic;
}

.btn-font-style {
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}
