.btn {
  padding: 12px 24px;
  font-weight: 700;
}

.btn-primary {
  width: 148px;
  height: 49px;
  background-color: $basic;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: $white;
  border: none;
  box-sizing: border-box;
}