#header::before {
  @include bg;
}

.bg-light {
  background-color: $light;
}

.img-header {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pb-185px {
  padding-bottom: 185px;
}
